
      .send-button {
        background-color: rgb(25, 135, 84);
        color: white;
        border: none;
        padding: 10px 25px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        margin-left: 15px;
        font-size: 15px;
      }
      .send-button:hover {
            background-color: #0e6e13; 
                     
          }

      .chat-input {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 15px;
        flex-grow: 1;
        margin: 10px;
      }

      .chat-input-container {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        padding: 20px;
      }
          
      